aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anyio==4.12.1
APScheduler==3.11.2
asgiref==3.11.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
backports.zstd==1.3.0
blinker==1.9.0
brotli==1.2.0
cbor2==5.8.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
constantly==23.10.4
cryptg==0.4.0
cryptography==46.0.4
daphne==4.2.1
Flask==3.1.2
frozenlist==1.8.0
gunicorn==25.0.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
Hypercorn==0.18.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
inflate64==1.0.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
msgpack==1.1.2
multidict==6.7.1
multivolumefile==0.2.3
nest-asyncio==1.6.0
opentele==1.15.1
packaging==26.0
priority==2.0.0
propcache==0.4.1
psutil==7.2.2
py-ubjson==0.16.1
py7zr==1.1.0
pyaes==1.6.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pybcj==1.0.7
pycparser==3.0
pycryptodomex==3.23.0
pyOpenSSL==25.3.0
pyppmd==1.3.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
Pyrogram==2.0.106
PySocks==1.7.1
Pytdlib==0.1.8
python-dotenv==1.2.1
python-telegram-bot==22.6
pytz==2025.2
rarfile==4.2
requests==2.32.5
rsa==4.9.1
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
stream-sqlite==0.0.38
Telethon==1.42.0
texttable==1.7.0
TgCrypto==1.2.3
TGSessionsConverter==0.0.5
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzlocal==5.3.1
ujson==5.11.0
urllib3==2.6.3
uvicorn==0.40.0
uWSGI==2.0.31
Werkzeug==3.1.5
wsproto==1.3.2
yarl==1.22.0
zope.interface==8.2
