anyio
APScheduler
blinker
aiohttp
certifi
charset-normalizer
click
cryptg
Flask
gunicorn
h11
h2
hpack
httpcore
httpx
Hypercorn
hyperframe
idna
itsdangerous
Jinja2
MarkupSafe
opentele
packaging
priority
psutil
pyaes
pyasn1
PyQt5
PyQt5-Qt5
cbor2
cryptography
PyQt5_sip
python-dotenv
python-telegram-bot
pytz
requests
rsa
six
sniffio
Telethon
TgCrypto
typing_extensions
tzlocal
urllib3
uvicorn
uWSGI
Werkzeug
wsproto
qrcode
pillow
