anyio==4.12.1
APScheduler==3.10.4
blinker==1.9.0
certifi==2026.1.4
charset-normalizer==3.4.7
click==8.3.2
cryptg==0.4.0
Flask==3.1.3
gunicorn==25.3.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.25.2
Hypercorn==0.18.0
hyperframe==6.1.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
opentele==1.15.1
packaging==26.1
priority==2.0.0
psutil==5.9.0
pyaes==1.6.1
pyasn1==0.6.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
python-dotenv==1.0.0
python-telegram-bot==20.7
pytz==2025.2
requests==2.33.1
rsa==4.9.1
six==1.17.0
sniffio==1.3.1
Telethon==1.35.0
TgCrypto==1.2.5
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.44.0
uWSGI==2.0.31
Werkzeug==3.1.8
wsproto==1.3.2
